<table class="tx-blsvfragebogen" >
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogenteilnehmer.titel" />
		</td>
		<td>
			{fragebogenteilnehmer.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogenteilnehmer.art" />
		</td>
		<td>
			{fragebogenteilnehmer.art}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogenteilnehmer.nr" />
		</td>
		<td>
			{fragebogenteilnehmer.nr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogenteilnehmer.ort" />
		</td>
		<td>
			{fragebogenteilnehmer.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogenteilnehmer.begin" />
		</td>
		<td>
			{fragebogenteilnehmer.begin -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogenteilnehmer.end" />
		</td>
		<td>
			{fragebogenteilnehmer.end -> f:format.date()}
		</td>
	</tr>
</table>