<label for="titel">
	<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.titel" />
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="art">
	<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.art" />
</label><br />
	<f:form.textfield property="art" /><br />
<label for="nr">
	<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.nr" />
</label><br />
	<f:form.textfield property="nr" /><br />
<label for="ort">
	<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="begin">
	<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.begin" />
</label><br />
	<f:form.textfield property="begin"  value="{fragebogen.begin->f:format.date()}" /><br />
<label for="end">
	<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.end" />
</label><br />
	<f:form.textfield property="end"  value="{fragebogen.end->f:format.date()}" /><br />