{namespace vh=BLSV\Blsvfragebogen\ViewHelpers}

<f:format.html>{frage.frage}</f:format.html>

<table>
	<tr><th class="linksoben"></th>
		<th>:D</th>
		<th>:-)</th>
		<th>:-|</th>
		<th>;-(</th>
		<th class="rechtsoben">Anmerkung</th>
		
	</tr>
	
	<f:for each="{frage.moeglcheantworten}" as="antwort" >
		<tr>
			<td>{antwort.antwort} <f:if condition="{antwort.typ}==2"> <f:form.textfield name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="uid"  />][sonstigestext]' value='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="sonstigestext"  />'  /> </f:if></td>
			<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="uid"  />][value]' value="1" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" /> == 1' /></td>
			<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="uid"  />][value]' value="2" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" /> == 2' /></td>
			<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="uid"  />][value]' value="3" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" /> == 3'  /></td>
			<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="uid"  />][value]' value="4" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" /> == 4' /></td>
			<td><f:form.textfield name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="uid"  />][anmerkung]'  value='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" property="anmerkung"  />' /></td>
	</f:for>
	<tr><th class="linksunten"></th>
		<th></th>
		<th></th> 
		<th></th>
		<th></th>
		<th class="rechtsunten"></th>
		
	</tr>
</table>
