{namespace vh=BLSV\Blsvfragebogen\ViewHelpers}
<f:format.html>{frage.frage}</f:format.html>
<f:for each="{options.eintraege}" as="eintragsArt" key="externebezeichnung">
 	<f:if condition="{frage.externebezeichnung}=={externebezeichnung}">
		<f:for each="{eintragsArt}" as="eintrag" >
			<b>{eintrag.uid} {eintrag.name}</b><br />
		    
			<table>
				<tr><th class="linksoben"></th>
					<th>:D</th>
					<th>:-)</th>
					<th>:-|</th>
					<th>;-(</th>
					<th class="rechtsoben">Anmerkung</th>
					
				</tr>
				
				<f:for each="{frage.moeglcheantworten}" as="antwort" >
					<tr>	<td>{antwort.antwort} <f:if condition="{antwort.typ}==2"> <f:form.textfield name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" externeUid="{eintrag.uid}" property="uid"  />][sonstigestext]' value='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" property="sonstigestext"  />'  /> </f:if></td>
						<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" property="uid"  />][value]' value="1" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" /> == 1' /></td>
						<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" property="uid"  />][value]' value="2" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" /> == 2' /></td>
						<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" property="uid"  />][value]' value="3" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" /> == 3' /></td>
						<td><f:form.radio name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" property="uid"  />][value]' value="4" checked='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" /> == 4' /></td>
						<td><f:form.textfield name='antworten[<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" property="uid"  />][anmerkung]'  value='<vh:AntwortenUid moeglicheantwort="{antwort}" fragebogenteilnehmer="{fragebogenteilnehmer}" externeUid="{eintrag.uid}" property="anmerkung"  />' /></td>

			
						</f:for>
				<tr><th class="linksunten"></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th class="rechtsunten"></th>
					
				</tr>
			</table>
			<br />
		</f:for>
	</f:if>
</f:for>
