<table class="tx-blsvfragebogen" >
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.titel" />
		</td>
		<td>
			{fragebogen.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.art" />
		</td>
		<td>
			{fragebogen.art}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.nr" />
		</td>
		<td>
			{fragebogen.nr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.ort" />
		</td>
		<td>
			{fragebogen.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.begin" />
		</td>
		<td>
			{fragebogen.begin -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvfragebogen_domain_model_fragebogen.end" />
		</td>
		<td>
			{fragebogen.end -> f:format.date()}
		</td>
	</tr>
</table>