<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Fragebogen</h1>

<f:flashMessages />

<table  class="tx_blsvfragebogen" >
	<tr>
		<th><f:translate key="tx_blsvfragebogen_domain_model_fragebogen.titel" /></th>
		<th><f:translate key="tx_blsvfragebogen_domain_model_fragebogen.art" /></th>
		<th><f:translate key="tx_blsvfragebogen_domain_model_fragebogen.nr" /></th>
		<th><f:translate key="tx_blsvfragebogen_domain_model_fragebogen.ort" /></th>
		<th><f:translate key="tx_blsvfragebogen_domain_model_fragebogen.begin" /></th>
		<th><f:translate key="tx_blsvfragebogen_domain_model_fragebogen.end" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fragebogens}" as="fragebogen">
		<tr>
			<td><f:link.action action="show" arguments="{fragebogen : fragebogen}"> {fragebogen.titel}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fragebogen : fragebogen}"> {fragebogen.art}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fragebogen : fragebogen}"> {fragebogen.nr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fragebogen : fragebogen}"> {fragebogen.ort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fragebogen : fragebogen}"> {fragebogen.begin -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fragebogen : fragebogen}"> {fragebogen.end -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fragebogen : fragebogen}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fragebogen : fragebogen}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Fragebogen</f:link.action>
</f:section>